extends head.pug 
block head 
    title Document !{ecli}

block printpageinfo
    h6 !{ecli}

block headerinput
    h4(style="color: var(--color-white);") !{ecli}

block form
    if source
        .d-block
            h4.d-inline #{source.Processo}
        mixin metadata(key)
            .d-flex.align-items-center.my-1(data-tribunal=source.Tribunal)
                h5: a(href=`../?q=${key}:"${source[key]}"`) !{source[key]}
        +metadata("Relator")
        +metadata("Data")
        +metadata("Tribunal")
        .d-flex.flex-column.align-items-right.justify-content-between(data-tribunal=source.Tribunal)
            h6: b Descritores:
            .d-flex.flex-column
                for d in source.Descritores
                    a(href=`../?q=Descritores:"${d}"`) !{d}
        .d-flex.align-items-center.my-2(data-tribunal=source.Tribunal)
            h6: a(href=source["Original URL"]).d-flex.align-items-center Original

block main
    if !source
        .alert.alert-info(role="alert")
            h4.alert-heading Sem resultados...
            strong 
                i.bi.bi-lightbulb-fill
                | Sugestões:
            ol
                li O recurso não foi encontrado ou ainda não foi publicado neste arquivo
    else
        .row.p-2(data-tribunal=source.Tribunal)
            h4.col-12.pb-2.trib-spacer Sumário 
            | !{source.Sumário}
        .row.p-2(data-tribunal=source.Tribunal)
            h4.col-12.pb-2.trib-spacer Texto
            | !{source.Texto}
    style.
        .trib-spacer{
            position: relative;
        }
        .trib-spacer::before {
            content: '';
            background: var(--tribunal-color);
            position: absolute;
            border-radius: 10px;
            bottom: 0px;
            left: 10px;
            right: 10px;
            height: 5px;
        }
        [data-tribunal] a{
            color: var(--tribunal-color);
        }
        header h6 {
            color: var(--color-white)
        }
        @media print{
            header h6 {
                color: var(--color-black)
            }
            header {
                background: var(#fff)
            }
            .no-print{
                display: block;
            }

            .infofilters{
                display: block !important;
            }
        }