extends head 
block head
    title Pesquisa
    script(src="https://cdn.jsdelivr.net/npm/chart.js")

prepend header
    -currentPage = "relatores"

block printpageinfo
    p Relatores da pesquisa por: "!{q || ""}"

append form
    .d-flex.my-2.justify-content-center.align-items-center
        button.btn.w-100(type="submit", formaction=`/?q=${q || ""}`): u Ver resultados da pesquisa
    .d-flex.flex-row.my-2.justify-content-center.align-items-center
        button.btn.w-100(type="submit", formaction=`/stats?q=${q || ""}`): u Ver estatísticas da pesquisa

block main
    .row.p-2
        .col-12.d-none.d-lg-block.col-lg-4: h4 Relator
        .col-12.d-none.d-lg-block.col-lg-8: h4 Tribunal(is)
    -let firstLeter = null
    for aggRelator in aggs.Relator.buckets.sort(({key:a}, {key:b}) => a.localeCompare(b))
        -let currLeter = aggRelator.key[0].replace(/[^a-zA-Z]/g, "#").toUpperCase()
        if (firstLeter != currLeter)
            .row.p-2
                .col-12.d-flex.flex-wrap
                    h3(id=currLeter) !{currLeter}
                    for l in "#ABCDEFGHIJKLMNOPQRSTUVWXYZ".split("")
                        a(href="#"+l, class="m-1") !{l}
            -firstLeter = currLeter
        .row.align-items-center
            .col-12.col-sm-4.d-flex.flex-column
                a(href=`/?q=Relator:"${aggRelator.key}"`, target="_blank") !{aggRelator.key}
            .col-12.col-sm-8.d-flex.flex-column
                for aggRelatorTribunal in aggRelator.Tribunal.buckets
                    span.d-print-none
                        a(href=`/?q=Tribunal:"${aggRelatorTribunal.key}"`,data-tribunal=aggRelatorTribunal.key) !{aggRelatorTribunal.key}
