extends head 
block head
    title Pesquisa

prepend header
    -currentPage = "search"

block printpageinfo
    p Resultados da pesquisa por: "!{q || ""}" (Página !{page+1} de !{pages} páginas)


append form
    .d-flex.flex-row.my-2.justify-content-center.align-items-center
        button.btn.w-100(type="submit", formaction=`/stats?q=${q || ""}`): u Ver estatísticas da pesquisa
    .d-flex.flex-row.my-2.justify-content-center.align-items-center
        button.btn.w-100(type="submit", formaction=`/relatores?q=${q || ""}`): u Ver relatores da pesquisa

block main
    if hits.length == 0
        .alert.alert-info(role="alert")
            h4.alert-heading Sem resultados...
            strong
                i.bi.bi-lightbulb-fill
                | Sugestões:
            ol
                li Verifique os filtros utilizados (tribunais, relator, descritores, data)
                li Verifique o termo pesquisado
    else
        .row.p-2
            .col-12.d-none.d-lg-block.col-lg-4: h4 Processo
            .col-12.d-none.d-lg-block.col-lg-8: h4 Sumário
        for doc in hits
            article.row(data-tribunal=doc._source.Tribunal)
                .col-12.col-sm-4
                        a(href=`/${doc._source.ECLI}`, target="_blank").d-block
                            span #{doc._source.Processo}
                        span.d-block #{doc._source.Relator}
                        span.d-block #{doc._source.Data}
                        span.d-block #{doc._source.Tribunal}
                        if doc._source.Descritores.length > 0
                            .d-flex.flex-column.mt-1
                                b Descritores
                                for d in doc._source.Descritores
                                    span #{d}
                .col-12.col-sm-8
                    h5.d-block.d-lg-none.d-print-block.font-weight-bold.mt-2 Sumário
                    .sumario !{doc._source.Sumário}
                .break
    style.
        @media print{
            article[data-tribunal] {
                max-height: none !important;
                width: 100%;
                display: block;
            }

            article[data-tribunal]::after{
                top:100% !important;
            }

            article .col-12{
                break-before: avoid !important;
                page-break-before: avoid !important;
                break-inside: avoid !important;
                page-break-inside: avoid !important;
                break-after: avoid !important;
                page-break-after: avoid !important;
            }

            article .break{
                page-break-after: always !important;
            }
        }

        article[data-tribunal] {
            position: relative;
            max-height: 150px;
            overflow: hidden;
            transition: 0.5s 0.3s;
            padding-bottom: 15px;
            margin-bottom: 10px;
        }

        article[data-tribunal]:focus-within, article[data-tribunal]:hover {
            max-height: 1000px;
        }

        article[data-tribunal]::before {
            content: '';
            background: var(--tribunal-color);
            top: 5px;
            width: 5px;
            position: absolute;
            border-radius: 10px;
            bottom: 30px;
        }
        article[data-tribunal]::after {
            content: "";
            position: absolute; 
            top: 50%;
            bottom: 0;
            left: -15px;
            right: -15px;
            box-shadow: inset white 0 -45px 20px;
            transition: 0.5s 0.3s;
        }

        article[data-tribunal]:focus-within::after, article[data-tribunal]:hover::after{
            box-shadow: inset white 0 0px 0px;
        }
