extends head 
block head
    title Pesquisa

prepend header
    -currentPage = "search"

block printpageinfo
    p Resultados da pesquisa por: "!{q || ""}" (Página !{page+1} de !{pages} páginas)


append form
    .d-flex.flex-row.my-2.justify-content-center.align-items-center
        button.btn.w-100(type="submit", formaction=`/stats?q=${q || ""}`): u Ver estatísticas da pesquisa
    .d-flex.flex-row.my-2.justify-content-center.align-items-center
        button.btn.w-100(type="submit", formaction=`/list?term=Relator&q=${q || ""}`): u Ver relatores da pesquisa

block main
    if hits.length == 0
        .alert.alert-info(role="alert")
            h4.alert-heading Sem resultados...
            strong
                i.bi.bi-lightbulb-fill
                | Sugestões:
            ol
                li Verifique os filtros utilizados (tribunais, relator, descritores, data)
                li Verifique o termo pesquisado
    else
        .row.p-2
            .col-12.d-none.d-lg-block: h4 !{body.hits.total.value} Resultados:
        for doc in hits
            article.row(data-tribunal=doc._source.Tribunal)
                .col-12.d-flex.flex-wrap.py-2
                    span.mx-2(style="color: var(--tribunal-color)") #{doc._source.Tipo} - #{doc._source.Tribunal} - #{doc._source.Secção}
                    a(href=`/${doc._source.ECLI}`, target="_blank").d-block.mx-2
                        span #{doc._source.Processo}
                    span.mx-2 #{doc._source.Data}
                .col-12 
                    b Relator:&nbsp;
                    span #{doc._source.Relator}
                .col-12
                    b Descritores:&nbsp;
                    span #{doc._source.Descritores.join(", ")}
                .col-12
                    b Espécie:&nbsp;
                    span #{doc._source["Espécie"]}
                .col-12
                    b Votação:&nbsp;
                    span #{doc._source.Votação}
                .col-12
                    b Meio Processual:&nbsp;
                    span #{doc._source["Meio Processual"]}
                .col-12.pt-2: h5: b Decisão:
                div.col-12 !{doc._source["Decisão"]}
                .col-12.pt-2: h5: b Sumário:
                div.col-12 !{doc._source["Sumário"]}
                .break
    style.
        @media print{
            article[data-tribunal] {
                max-height: none !important;
                width: 100%;
                display: block;
            }

            article[data-tribunal]::after{
                top:100% !important;
            }

            article .col-12{
                break-before: avoid !important;
                page-break-before: avoid !important;
                break-inside: avoid !important;
                page-break-inside: avoid !important;
                break-after: avoid !important;
                page-break-after: avoid !important;
            }

            article .break{
                page-break-after: always !important;
            }
        }

        article[data-tribunal] {
            position: relative;
            max-height: 300px;
            overflow: hidden;
            transition: 0.5s 0.3s;
            padding-bottom: 15px;
            margin-bottom: 10px;
        }

        article[data-tribunal]:focus-within, article[data-tribunal]:hover {
            max-height: 1000px;
        }

        article[data-tribunal]::before {
            content: '';
            background: var(--tribunal-color);
            top: 5px;
            width: 5px;
            position: absolute;
            border-radius: 10px;
            bottom: 30px;
        }
        article[data-tribunal]::after {
            content: "";
            position: absolute; 
            top: 50%;
            bottom: 0;
            left: -15px;
            right: -15px;
            box-shadow: inset white 0 -45px 20px;
            transition: 0.5s 0.3s;
        }

        article[data-tribunal]:focus-within::after, article[data-tribunal]:hover::after{
            box-shadow: inset white 0 0px 0px;
        }
