for doc in hits
    article.row(data-tribunal=doc._source.Tribunal)
        .col-12.pt-2
            a(href=`./${doc._source.ECLI}`, target="_blank", style="color: var(--tribunal-color);").text-decoration-none !{doc._source.ECLI}
        .col-12.d-flex.flex-wrap.my-1
            div.mx-1
                b Tribunal:&nbsp;
                span #{doc._source.Tribunal}&nbsp;
                if doc._source.Secção
                    span (#{doc._source.Secção})
            div.mx-1
                b Relator:&nbsp;
                span #{doc._source.Relator}
            div.mx-1
                b Data(s):&nbsp;
                span #{doc.fields.Data}
        .col-12.d-flex.flex-wrap.my-1
            if doc._source.Espécie
                div.mx-1
                    b Espécie:&nbsp;
                    span #{doc._source.Espécie}
            if doc._source["Meio Processual"]
                div.mx-1
                    b Meio Processual:&nbsp;
                    span #{doc._source["Meio Processual"]}
        if Array.isArray(doc._source.Descritores)
            .col-12.my-1
                div.mx-1
                    b Descritores:&nbsp;
                    span #{doc._source.Descritores.join(' / ')}
        if doc._source.Votação
            .col-12.my-1
                div.mx-1
                    b Votação:&nbsp;
                    span #{doc._source.Votação}
        if doc._source.Decisão
            .col-12.my-1
                div.mx-1.d-flex
                    b Decisão:&nbsp;
                    div !{doc._source.Decisão}
        if doc._source.Sumário
            details.col-12.my-1
                summary.mx-1: b.mouse-click Sumário:
                div.col-12 !{doc._source["Sumário"]}