for doc in hits
    -let Str = (str) => str.replace(/\S*/g, function(txt){return txt.match(/(^D.s?$)|(^EM$)/) || txt.length == 1 ? txt.toLowerCase() : txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
    article.row(data-tribunal=doc._source.Tribunal)
        .col-12.pt-1
            a(href=`./${doc._source.ECLI}`, target="_blank", style="color: var(--tribunal-color);").text-decoration-none !{doc._source.ECLI}
        .col-12.d-flex.flex-wrap
            div.mx-1
                b Tribunal:&nbsp;
                span(style="color: var(--tribunal-color);") #{doc._source.Tribunal}&nbsp;
                if doc._source.Secção
                    span (#{Str(doc._source.Secção)})
            div.mx-1
                b Relator:&nbsp;
                span #{Str(doc._source.Relator)}
            div.mx-1
                b Data(s):&nbsp;
                span #{doc.fields.Data}
        .col-12.d-flex.flex-wrap
            if doc._source.Espécie
                div.mx-1
                    b Espécie:&nbsp;
                    span #{Str(doc._source.Espécie)}
            if doc._source["Meio Processual"]
                div.mx-1
                    b Meio Processual:&nbsp;
                    span #{doc._source["Meio Processual"]}
        if Array.isArray(doc._source.Descritores)
            .col-12
                div.mx-1
                    b Descritores:&nbsp;
                    span #{Str(doc._source.Descritores.join(' / '))}
        if doc._source.Votação
            .col-12
                div.mx-1
                    b Votação:&nbsp;
                    span #{Str(doc._source.Votação)}
        if doc._source.Decisão
            .col-12
                div.mx-1.d-flex
                    b Decisão:&nbsp;
                    div !{Str(doc._source.Decisão)}
        if doc.highlight && Object.keys(doc.highlight).length > 0
            .col-12.d-print-none
                div.mx-1
                    -let n = Object.entries(doc.highlight).reduce((acc, [key, value]) => acc + value.length, 0)
                    if n > 1
                        b Destaques da pesquisa:&nbsp;
                    else
                        b Destaque da pesquisa:&nbsp;
                    ul.m-0
                        for key of Object.keys(doc.highlight)
                            for value of doc.highlight[key]
                                li !{value.replace(/<[^>]+>/g, '')}
        if doc._source.Sumário
            details.col-12
                summary.mx-1: b.mouse-click Sumário:
                div.col-12 !{doc._source["Sumário"]}