style.
    .highlight {
        display: inline-flex;
        flex-grow: 1;
    }

    .highlight-bar {
        width: 100%;
        flex-shrink: 1;
        height: 2px;
        background: var(--color-gray);
        margin: 6px 0 6px;
        position: relative;
        border-radius: 10px;
    }

    .highlight-bar-hit {
        position: absolute;
        background: var(--tribunal-color);
        height: 22px;
        top: -9px;
        width: 3px;
    }
    .highlight-bar-hit:hover ~ .highlight-bar-hit-content, .highlight-bar-hit-content:hover {
        display: block !important;
        position: absolute;
        bottom: 10px;
        font-size: 0.7rem;
        color: var(--color-black);
        background: var(--color-white);
        border: 1px solid;
        padding: 0.5rem;
        z-index: 1;
        right: 0;
        left: 0;
    }

    details .bi-caret-downright-fill::before{
        content: "\f231";
    }
    details[open] .bi-caret-downright-fill::before {
        content: "\f229";
    }

    .normalize-sumario-weight b{
        font-weight: normal;
    }

    .pesquisa-sep {
        background: var(--color-gray);
        color: var(--color-white);
        font-size: smaller;
        display: inline;
        font-weight: normal;
        font-style: italic;
        margin: 0 0.4rem;
    }
    .pesquisa-sep::before {
        content: "(...)";
    }

for doc in hits
    -let Str = (str) => str.replace(/\S*/g, function(txt){return txt.match(/(^D.S?$)|(^EM$)/) || txt.length == 1 ? txt.toLowerCase() : txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
    -let relevanciaColor = (per) => per < 0.2 ? '#E3D5A1' : per < 0.4 ? '#CEB65E' : per < 0.6 ? '#B49936' : per < 0.8 ? '#8C752C' : '#6C5A22';
    article.row(data-tribunal=doc._source.Tribunal).border-top
        .col-12.pt-1.d-flex
            small.relevancia(style=`color: ${relevanciaColor(doc._score/max_score)}`)
                each bin in [0.2,0.4,0.6,0.8,1]
                    if doc._score/max_score < bin
                        i.bi.bi-square.me-1
                    else
                        i.bi.bi-square-fill.me-1
                a(href=`./${doc._source.ECLI}`, target="_blank")
                    | !{doc._source.ECLI}
        .col-12.d-flex.flex-wrap
            div.mx-1
                b Tribunal:&nbsp;
                span(style="color: var(--tribunal-color);") #{doc._source.Tribunal}&nbsp;
                if doc._source.Secção
                    span (#{Str(doc._source.Secção)})
            div.mx-1
                b Relator:&nbsp;
                span #{Str(doc._source.Relator)}
            div.mx-1
                b Data(s):&nbsp;
                span #{doc.fields.Data}
        .col-12.d-flex.flex-wrap
            if doc._source.Espécie
                div.mx-1
                    b Espécie:&nbsp;
                    span #{Str(doc._source.Espécie)}
            if doc._source["Meio Processual"]
                div.mx-1
                    b Meio Processual:&nbsp;
                    span #{Str(doc._source["Meio Processual"])}
        if doc._source.Votação
            .col-12
                div.mx-1
                    b Votação:&nbsp;
                    span #{Str(doc._source.Votação)}
        if doc._source.Decisão
            .col-12
                div.mx-1.d-flex
                    b Decisão:&nbsp;
                    div !{Str(doc._source.Decisão)}
        if Array.isArray(doc._source.Descritores)
            .col-12
                div.mx-1
                    b Descritores:&nbsp;
                    - let descritores = []
                    if doc.highlight && doc.highlight.Descritores
                        - descritores = doc._source.Descritores.map(origin => doc.highlight.Descritores.find(highlight => highlight.includes(origin)) ? `<mark>${Str(origin)}</mark>` : Str(origin))
                    else 
                        - descritores = doc._source.Descritores.map(Str)
                    span !{descritores.join(' / ')}
        if doc._source.Sumário
            details.col-12
                summary.d-flex.align-items-center
                    i.bi.bi-caret-downright-fill
                    b.mouse-click Sumário:
                if doc.highlight && doc.highlight.Sumário
                    div.col-12.p-2.border.normalize-sumario-weight !{doc.highlight.Sumário}
                else
                    div.col-12.p-2.border.normalize-sumario-weight !{doc._source.Sumário}
                    
        if doc.highlight
            -let highlightKeys = Object.keys(doc.highlight).filter( o => o.match(/Texto/))
            if highlightKeys.length > 0
                details.col-12.d-print-none
                    summary.d-flex.align-items-center
                        i.bi.bi-caret-downright-fill
                        b.mouse-click Pesquisa:
                        .highlight
                            for key of highlightKeys
                                .highlight-bar(data-key=key)
                                    each hit in doc.highlight[key]
                                        .highlight-bar-hit-parent
                                            .highlight-bar-hit(data-offset=hit.offset, data-per=hit.offset/hit.size, style=`left: ${hit.offset/hit.size*100}%`)
                                            .highlight-bar-hit-content.d-none !{hit.text}

                    div.col-12.p-2.border
                        for key of highlightKeys
                            each hit in doc.highlight[key]
                                | !{hit.text}
                                .pesquisa-sep