extends head.pug 

block head 
    title Informação Campos

block printpageinfo

block allmain
    form#filter-form
        p Importação dos dados da DGSI e CSM de 23 de fevereiro de 2023
        table.table.table-sm(style="width: fit-content")
            thead
                tr
                    th Indíce atual
                    th # Registos<br>com valor<br>(original) 
                    th # Valores<br>diferentes<br>(original)
                    th # Registos<br>com valor<br>(atual)
                    th # Valores<br>diferentes<br>(atual)
            tbody
                for obj of values 
                    if obj.key.length > 0
                        tr
                            td !{obj.key}
                            td.text-end.border-1 !{obj.sourcesTotal.reduce((acc, o) => acc+o, 0)}
                            td.text-end.border-1 !{obj.sourcesUnique.reduce((acc, o) => Math.max(acc,o), 0)}
                            td.text-end.border-1 !{obj.currentTotal}
                            td.text-end.border-1 !{obj.currentUnique}
        table.table.table-sm(style="width: fit-content")
            thead
                tr
                    th Indíce DGSI / CSM
                    th # valores<br>diferentes<br>(original)
                    th Indíce atual
            tbody
                for obj of values
                    if obj.sources.length > 0
                        each source, idx in obj.sources
                            tr
                                td !{source}
                                td.border-start-1 !{obj.sourcesUnique[idx]}
                                if obj.key.length > 0
                                    td !{obj.key}
                                else
                                    td.text-muted (nenhum)
                    else 
                        tr
                            td.text-muted (nenhum)
                            td.border-start-1 (0)
                            td !{obj.key}
