extends head

block allmain
    h2 Lista dos ECLI mal gerados pelo CSM
    p Dos <span id=total-count></span> indexados pelo CSM <span id=wrong-count></span> estão incorretos.
    p São <span id=ok-count></span> corretos <a href="/?Origem=csm-indexer&notHasField=_UNMATCHING_ECLI">ver acórdãos</a>.
    p A mostrar ECLIs com mais de 3 erros. (Os restantes ECLIs com 3 erros têm um sufixo aparentemente aleatório gerado pelo CSM)
    table.table#errors
        thead#thead-errors
            tr
                th#count
                th ECLI GERADO 
                th ECLI ORIGINAL
                th Processo
                th Datas
        tbody#tbody-errors

        tbody#tbody-end
            tr
                th A procurar acórdãos...

    script.
        let main = document.getElementById("main");
        let evs = new EventSource("./stats-sse?distance=3");
        evs.addEventListener("UnmatchingECLIEvent", function(e){
            createUnmatchingECLIElement(JSON.parse(e.data));
        })
        evs.addEventListener("UnmatchingECLICountEvent", function(e){
            document.getElementById("wrong-count").innerHTML = e.data;
            document.getElementById("ok-count").innerHTML = parseInt(document.getElementById("total-count").innerHTML) - parseInt(e.data);
        })
        evs.addEventListener("CSMCountEvent", function(e){
            document.getElementById("total-count").innerHTML = e.data;
            document.getElementById("ok-count").innerHTML = parseInt(e.data) - parseInt(document.getElementById("wrong-count").innerHTML);
        })

        evs.addEventListener("EndEvent", function(e){
            document.getElementById("tbody-end").remove();
        });

        let count = 1;

        function createUnmatchingECLIElement(source){
            // create tbody row
            let tbody = document.getElementById("tbody-errors");
            let tr = document.createElement("tr");
            let generated = tr.appendChild(document.createElement("td"));
            let original = tr.appendChild(document.createElement("td"));
            tr.appendChild(document.createElement("td")).innerHTML = count++;
            document.getElementById("count").innerHTML = count;
            tr.appendChild(document.createElement("td")).innerHTML = `${source["Processo"]}`;
            tr.appendChild(document.createElement("td")).innerHTML = `${source["Data"].join(", ")}`;
            generated.innerHTML = "ECLI"
            original.innerHTML = "ECLI"
            for( let key in source["ECLIDistance"] ){
                if( source["ECLIDistance"][key]["distance"] == 0 ){
                    generated.innerHTML+= `:${source["ECLIDistance"][key]["generated"]}`;
                    original.innerHTML+= `:${source["ECLIDistance"][key]["original"]}`;
                }
                else{
                    generated.innerHTML+= `:<b>${source["ECLIDistance"][key]["generated"]}</b>`;
                    original.innerHTML+= `:<del>${source["ECLIDistance"][key]["original"]}</del>`;
                }
            }
            tbody.appendChild(tr);
        }



