extends head.pug 
block head 
    title Document !{proc}
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")

block printpageinfo


block allmain
    form#filter-form
    -let Str = (str) => str.replace(/\S*/g, function(txt){return txt.match(/(^D.S?$)|(^EM$)/) || txt.length == 1 ? txt.toLowerCase() : txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
    if !source
        .alert.alert-info(role="alert")
            h4.alert-heading Sem resultados...
            strong 
                i.bi.bi-lightbulb-fill
                | Sugestões:
            ol
                li O recurso não foi encontrado ou ainda não foi publicado neste arquivo
    else
        mixin field(key, showkey, str=true)
            if source[key]
                h6
                    b !{showkey ? showkey : key}:&nbsp;
                    a(href=`./?${showkey ? showkey : key}="${encodeURIComponent(source[key])}"`) !{str ? Str(source[key]) : source[key]}
        +field("Meio Processual")
        +field("Tipo", "Tipo de Processo")
        h6
            b Número de Processo:&nbsp;
            span !{source.Processo}
            span
                | &nbsp;(
                a(href=source.URL,target="_blank")
                    | dgsi.pt
                    sup: i.bi.bi-box-arrow-up-right
                | )
            small#related
            script.
                fetch(`./related-!{source.UUID}`).then(r => r.json() ).then(l =>{
                    let parent = document.getElementById("related");
                    if( l.length > 0 ){
                        parent.innerHTML = " <b>Processos relacionados: </b>";
                    }
                    l.forEach( o => {
                        let a = document.createElement("a");
                        a.innerText = `${o.Processo}`
                        a.href = `./acord-${o.UUID}`
                        parent.appendChild(a);
                        parent.append(` (${o["!{DATA_FIELD}"]}) / `);
                    })
                });
        +field("Secção")
        +field("Relator")
        h6
            b Data:&nbsp;
            | !{source.Data}
        if source.Votação
            h6
                b Votação:&nbsp;
                a(href=`./?Votação="${encodeURIComponent(source.Votação.Forma)}"`) !{source.Votação.Forma}
        +field("Decisão")
        if source.Descritores
            h6
                b Descritores:&nbsp;
                | !{source.Descritores.map( d => `<a href='./?Descritores="${encodeURIComponent(d)}"'>${Str(d)}</a>`).join(' / ')}
        if source.Sumário
            h6.border-top.border-2.border-dark.mt-2: b Sumário:
            div.p-2 !{source.Sumário}
        if source.Texto
            h6.border-top.border-2.border-dark.mt-2: b Texto:
            div.p-2 !{source.Texto}
        h6.border-top.border-2.border-dark.mt-2: b Metadados da DGSI
        .container.border.border-dark.p-3
            table.table.table-sm(style="font-family:'Times New Roman'")
                tbody 
                    for key of Object.keys(source.Original)
                        tr
                            td !{key}
                            td !{source.Original[key]}

    style.
        #related {
            background: var(--secondary-gold);
            display: block;
            font-size: 0.75rem;
        }