extends head.pug 

block preheadcontent
    // This is rendered at ./p/proc/uuid/ but styles/forms/images/links are for ./
    base(href="../../../")

block head 
    title Document !{proc}
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")

block printpageinfo


block allmain
    form#filter-form
    if !source
        .alert.alert-info(role="alert")
            h4.alert-heading Sem resultados...
            strong 
                i.bi.bi-lightbulb-fill
                | Sugestões:
            ol
                li O recurso não foi encontrado ou ainda não foi publicado neste arquivo
    else
        .border.border-dark.container-fluid(style="background: #f9f9f9")
            .row.border-bottom
                .col-1: b N.º de Processo:
                .col-7 !{source.Processo}
                .col-4.text-end
                    if source.ECLI != "sem ECLI"
                        small: a(href=`https://jurisprudencia.csm.org.pt/ecli/${source.ECLI}`,target="_blank")
                            | !{source.ECLI}
                            sup: i.bi.bi-box-arrow-up-right
                    |&nbsp;
                    small: a(href=source.URL,target="_blank")
                        | !{new URL(source.URL).host}
                        sup: i.bi.bi-box-arrow-up-right
                    |&nbsp;
                    small <b>Fonte:</b> !{source.Fonte}
            .row.border-bottom#related.d-none
                .col-1
                    i.bi.bi-link
                    | Relacionados:
                .col-11#related-children
            .row.border-bottom
                .col-1: b Data:
                .col-11: span !{source.Data}
            mixin field(key, showkey, str=true, ref=true)
                .row.border-bottom
                    .col-1: b !{showkey ? showkey : key}:
                    .col-11
                        if Array.isArray(source[key])
                            each value, index in source[key]
                                a(href=`./?${showkey ? showkey : key}="${encodeURIComponent(value)}"`) !{!str ? value : titleCase(value)}
                                if index < source[key].length-1
                                    span &nbsp;/&nbsp;
                        else
                            -let value = source[key]
                            a(href=`./?${showkey ? showkey : key}="${encodeURIComponent(value)}"`) !{!str ? value : titleCase(value)}
            +field("Jurisprudência")
            +field("Formação")
            +field("Área","Área",false)
            +field("Meio Processual")
            +field("Relator Nome Profissional","Relator")
            +field("Secção","Secção",false)
            +field("Tipo","Decisão")
            +field("Decisão","Decisão - Integral")
            .row.border-bottom
                .col-1: b Votação
                .col-11
                    a(href=`./?Votação - Decisão="${encodeURIComponent(source["Votação Decisão"])}"`) !{source["Votação Decisão"]}
                    span &nbsp;Vencidos:&nbsp;
                        a(href=`./?Votação - Vencidos="${encodeURIComponent(source["Votação Vencidos"])}"`) !{source["Votação Vencidos"]}
                    span &nbsp;Declarações:&nbsp;
                        a(href=`./?Votação - Declarações="${encodeURIComponent(source["Votação Declarações"])}"`) !{source["Votação Declarações"]}
            +field("Descritores")
            script.
                fetch(`./related/!{encodeURIComponent(source.Processo)}/!{source.UUID}/`).then(r => r.json() ).then(l =>{
                    let parent = document.getElementById("related");
                    if( l.length > 0 ){
                        parent.classList.remove("d-none")
                        let s = document.getElementById("related-children");
                        l.forEach( o => {
                            let a = document.createElement("a");
                            a.innerText = `${o.Processo}`
                            a.href = `./p/${encodeURIComponent(o.Processo)}/${o.UUID.substring(0,6)}/`
                            s.appendChild(a);
                            s.append(` (${o["!{DATA_FIELD}"]}) / `);
                        })
                    }
                });
        if source.Sumário
            h6.border-top.border-2.mt-2: b Sumário:
            div.p-2 !{source.Sumário}
        if source.Texto
            h6.border-top.border-2.mt-2: b Decisão Texto Integral:
            div.p-2 !{source.Texto}

    style.
        #related {
            background: #dfdfdf;
        }