extends head.pug 
block head 
    title Document !{ecli}
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")

block printpageinfo
    h6 !{ecli}

block headerinput
    h4(style="color: var(--color-white);") !{ecli}

block form
    -let using = []
    if source
        .d-block
            h4.d-inline #{source.Processo}
        mixin metadata(key, show)
            -using.push(key)
            if source[key]
                .d-flex.align-items-center.my-1(data-tribunal=source.Tribunal)
                    if show
                        b #{key}:&nbsp;
                    h5: a(href=`../?${key}=${source[key]}`) !{source[key]}
        +metadata("Tribunal")
        +metadata("Relator")
        +metadata("Data")
        +metadata("Votação", true)
        +metadata("Meio Processual", true)
        +metadata("Espécie", true)
        +metadata("Secção", true)
        +metadata("Jurisprudência", true)
        .d-flex.flex-column.align-items-right.justify-content-between(data-tribunal=source.Tribunal)
            h6: b Descritores:
            .d-flex.flex-column
                for d in source.Descritores
                    a(href=`../?Descritores="${d}"`) !{d}
        .d-flex.align-items-center.my-2(data-tribunal=source.Tribunal)
            h6: a(href=source["Original URL"]).d-flex.align-items-center Original

block main
    if !source
        .alert.alert-info(role="alert")
            h4.alert-heading Sem resultados...
            strong 
                i.bi.bi-lightbulb-fill
                | Sugestões:
            ol
                li O recurso não foi encontrado ou ainda não foi publicado neste arquivo
    else
        .row.p-2(data-tribunal=source.Tribunal)
            -using.push("Decisão")
            -using.push("Sumário")
            -using.push("Aditamento")
            -using.push("Texto")
            -using.push("ECLI")
            -using.push("Processo")
            -using.push("Descritores")
            -using.push("Origem")
            -using.push("Original URL")
            -using.push("Tipo")
            -using.push("Data do Acordão")
            h4.col-12.pb-2.trib-spacer Outros Campos 
            for key of Object.keys(source)
                if using.indexOf(key) == -1
                    h5
                        b !{key}: 
                        | !{source[key]}
        .row.p-2(data-tribunal=source.Tribunal)
            h4.col-12.pb-2.trib-spacer Decisão
            | !{source.Decisão}
        .row.p-2(data-tribunal=source.Tribunal)
            h4.col-12.pb-2.trib-spacer Sumário 
            | !{source.Sumário}
        .row.p-2(data-tribunal=source.Tribunal)
            h4.col-12.pb-2.trib-spacer Aditamento
            | !{source.Aditamento}
        .row.p-2(data-tribunal=source.Tribunal)
            h4.col-12.pb-2.trib-spacer Texto
            div(data-tiny-editor) !{source.Texto}
    script(src="/tiny-editor.js")
    style.
        .trib-spacer{
            position: relative;
        }
        .trib-spacer::before {
            content: '';
            background: var(--tribunal-color);
            position: absolute;
            border-radius: 10px;
            bottom: 0px;
            left: 10px;
            right: 10px;
            height: 5px;
        }
        [data-tribunal] a{
            color: var(--tribunal-color);
        }
        header h6 {
            color: var(--color-white)
        }
        @media print{
            header h6 {
                color: var(--color-black)
            }
            header {
                background: var(#fff)
            }
            .no-print{
                display: block;
            }

            .infofilters{
                display: block !important;
            }
        }