extends head.pug 
block head 
    title Document !{ecli}
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")

block printpageinfo
    h6 !{ecli}

block headerinput
    h4(style="color: var(--color-white);").fancy-font !{ecli}

block form
    -let Str = (str) => str.replace(/\S*/g, function(txt){return txt.match(/(^D.S?$)|(^EM$)/) || txt.length == 1 ? txt.toLowerCase() : txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
    -let using = []
    if source
        div: h4.trib-spacer.pb-2 &nbsp;
        mixin metadata(key, show)
            -using.push(key)
            if source[key]
                tr
                    td
                        if show
                            b #{key}:&nbsp;
                    td
                        if key == "Tribunal"
                            a(href=`./?${key}=${source[key]}`,data-tribunal=source["Tribunal"]) !{Str(source[key])}
                        else
                            a(href=`./?${key}=${source[key]}`) !{Str(source[key])}
        table.table.table-sm
            for key in Object.keys(source)
                if key == "ECLI" || key == "Processo" || key == "Original URL" || key == "Descritores"
                else if key in aggs
                    +metadata(key, true)
            for key of Object.keys(source)
                if key.startsWith("Data")
                    tr
                        td: b #{key}:&nbsp;
                        td: span.text-muted #{source[key]}
            tr
                td: b Descritores:
                td
                    for d in (source.Descritores||[])
                        p.m-0: a(href=`./?Descritores=${d}`) !{Str(d)}
            tr
                td
                td: b: a(href=source["Original URL"]).d-flex.align-items-center Original

block main
    if !source
        .alert.alert-info(role="alert")
            h4.alert-heading Sem resultados...
            strong 
                i.bi.bi-lightbulb-fill
                | Sugestões:
            ol
                li O recurso não foi encontrado ou ainda não foi publicado neste arquivo
    else
        div(data-tribunal=source.Tribunal)
            h4.col-12.pb-2.trib-spacer Processo !{source.Processo}
        table.table.table-sm
            tbody 
                for key of Object.keys(source)
                    if !(key in aggs) && !key.startsWith("Data")
                        if source[key].length < 240
                            tr(data-tribunal=source.Tribunal).align-top
                                th !{key}
                                td !{source[key]}
        for key of Object.keys(source)
            if !(key in aggs) && !key.startsWith("Data")
                if source[key].length >= 240
                    .pt-2
                        h5.p-2.trib-spacer(data-tribunal=source["Tribunal"]) !{key}:&nbsp;
                        div !{source[key]}

    style.
        .trib-spacer{
            position: relative;
        }
        .trib-spacer::before {
            content: '';
            background: var(--tribunal-color);
            position: absolute;
            border-radius: 10px;
            bottom: 0px;
            left: 10px;
            right: 10px;
            height: 5px;
        }
        a[data-tribunal]{
            color: var(--tribunal-color);
        }
        header h6 {
            color: var(--color-white)
        }
        @media print{
            header h6 {
                color: var(--color-black)
            }
            header {
                background: var(#fff)
            }
            .no-print{
                display: block;
            }

            .infofilters{
                display: block !important;
            }
        }