extends head.pug 

block preheadcontent
    // This is rendered at ./p/proc/uuid/ but styles/forms/images/links are for ./
    base(href="../../../")

block head 
    title Document !{proc}
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")

block printpageinfo


block allmain
    form#filter-form
    if !source
        .alert.alert-info(role="alert")
            h4.alert-heading Sem resultados...
            strong 
                i.bi.bi-lightbulb-fill
                | Sugestões:
            ol
                li O recurso não foi encontrado ou ainda não foi publicado neste arquivo
    else
        .border.border-dark
            table.table.table-sm.small.m-0.p-0(style="background: #f9f9f9")
                tbody
                    mixin field(key, showkey, str=true)
                        if source[key]
                            tr
                                th !{showkey ? showkey : key}:
                                td: a(href=`./?${showkey ? showkey : key}="${encodeURIComponent(source[key])}"`) !{str ? titleCase(source[key]) : source[key]}
                    +field("Meio Processual")
                    tr
                        th Número de Processo:
                        td !{source.Processo}
                            | &nbsp;(
                            a(href=source.URL,target="_blank")
                                | !{new URL(source.URL).host}
                                sup: i.bi.bi-box-arrow-up-right
                            | )
                    tr#related
                    +field("Secção", "Secção", false)
                    +field("Relator")
                    tr
                        th Data:
                        td !{source.Data}
                    +field("Votação")
                    +field("Decisão")
                    if source.Descritores
                        tr
                            th Descritores:
                            td !{source.Descritores.map( d => `<a href='./?Descritores="${encodeURIComponent(d)}"'>${titleCase(d)}</a>`).join(' / ')}
                    //-tr
                        td: small Metadados Originais
                        td: details
                            summary: small Ver
                            table.table.table-sm(style="font-family:'Times New Roman'")
                                tbody 
                                    for key of Object.keys(source.Original)
                                        if key != "Sumário" && key != "Decisão Texto Integral"
                                            tr
                                                td !{key}
                                                td !{source.Original[key]}
                                    if "Sumário" in source.Original
                                        tr
                                            td(colspan="2")
                                                details 
                                                    summary Ver Sumário Original
                                                    div !{source.Original["Sumário"]}
                                    if "Decisão Texto Integral" in source.Original
                                        tr
                                            td(colspan="2")
                                                details 
                                                    summary Ver Decisão Texto Integral Original
                                                    div !{source.Original["Decisão Texto Integral"]}
            script.
                fetch(`./related/!{encodeURIComponent(source.Processo)}/!{source.UUID}/`).then(r => r.json() ).then(l =>{
                    let parent = document.getElementById("related");
                    if( l.length > 0 ){
                        let c = parent.insertCell(0);
                        c.innerHTML = "<i class='bi bi-link'></i> Relacionados: ";
                        let s = parent.insertCell(1);
                        l.forEach( o => {
                            let a = document.createElement("a");
                            a.innerText = `${o.Processo}`
                            a.href = `./p/${encodeURIComponent(o.Processo)}/${o.UUID.substring(0,6)}/`
                            s.appendChild(a);
                            s.append(` (${o["!{DATA_FIELD}"]}) / `);
                        })
                    }
                });
        if source.Sumário
            h6.border-top.border-2.mt-2: b Sumário:
            div.p-2 !{source.Sumário}
        if source.Texto
            h6.border-top.border-2.mt-2: b Decisão Texto Integral:
            div.p-2 !{source.Texto}

    style.
        #related {
            background: #dfdfdf;
        }