doctype html
html(lang="en")
    mixin await(url)
        span(data-await=url).await-loading
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet",href="./style.css")
        link(rel="icon",href="./stj-logo.png")
        block head
    body
        block header
            header.mb-1
                form.container.row.align-items-center.m-auto.p-1
                    a(href="./").col-12.col-lg-6.align-items-center.d-flex.flex-wrap.py-2
                        img(src="./stj-logo.png", style="max-height: 70px;")
                        h2.ps-2.fancy-font Jurisprudência
                    .col-12.col-lg-6.d-print-none
                        block headerinput
                            .input-group
                                input.form-control(type="search", name="q", placeholder="Pesquisar...", value=q||"", style="color: var(--color-gray);")
                                .input-group-append
                                    button.btn.btn-gold(type="submit"): i.bi-search
                    .col-12.col-lg-6.d-none.d-print-block
                        block printpageinfo
                            p Sem informação da página
                nav.w-100.d-print-none
                    ul.container.d-flex.nav.align-items-center.justify-content-evenly.flex-wrap
                        li.nav-item.py-1.px-2.mx-1
                            a.nav-link(href="./", class=currentPage=="search"?"active":""): h6.m-0 Pesquisa
                        li.nav-item.py-1.px-2.mx-1
                            a.nav-link(href="./estatisticas", class=currentPage=="stats"?"active":""): h6.m-0 Estatísticas
                        li.nav-item.py-1.px-2.mx-1
                            a.nav-link(href="./indices", class=currentPage=="list"?"active":""): h6.m-0 Índices
                        li.nav-item.py-1.px-2.mx-1
                            a.nav-link(href="./tabelas/", class=currentPage=="table"?"active":""): h6.m-0 Tabelas
        main.container-fluid#top
            if error 
                pre.alert.alert-danger
                    code !{JSON.stringify(error, null , 2)}

            else
                block allmain
                    .row
                        .col-12.col-sm-4.col-md-3.col-xl-2.d-print-none.infofilters
                            form(method="get")#filter-form
                                block form
                                    input(type="search", name="q", value=q, hidden)
                                    button.btn.color-link(type="submit", hidden)
                                    details(open=!!open)
                                        summary.d-block
                                            h4.d-inline
                                                i.bi-funnel 
                                                | Filtrar 
                                                small: i.bi-minimizemaximize
                                        .d-flex.flex-column.my-1
                                            -let tribunais = []
                                            .form-check.form-check-inline.my-0
                                                input.form-check-input(type="checkbox", id="tribunais-all")
                                                label.form-check-label.text-decoration-none.text-body(for="tribunais-all"): h6.m-0 Tribunal
                                            -let key = "Tribunal"
                                            for bucket in aggs[key].buckets
                                                -let checked = !filters[key] || filters[key].indexOf(bucket.key) > -1
                                                if checked
                                                    -tribunais.push(bucket.key)
                                                .form-check.form-check-inline.my-0(data-tribunal=bucket.key)
                                                    input.form-check-input.tribunal-checkbox(type="checkbox", name=key, value=bucket.key, checked=checked, id=bucket.key.replace(/\s/g, ""), hidden)
                                                    label.form-check-label(for=bucket.key.replace(/\s/g, "")).d-flex.justify-content-between.align-items-center.w-100
                                                        span.d-block !{bucket.key} 
                                                        span.d-block (!{bucket.doc_count})
                                        .d-flex.flex-column.my-1
                                            .input-group.input-group-sm
                                                .input-group-prepend.flex-grow-1
                                                    input.form-control.form-control-sm(type="number", name="MinAno", min=aggs.MinAno.value_as_string, max=aggs.MaxAno.value_as_string, value=filters["MinAno"], step="1",placeholder="Desde (ano)")#data_inicio
                                                span.input-group-text.input-group-text-sm  <i class="bi-calendar"></i> - <i class="bi-calendar"></i>
                                                .input-group-append.flex-grow-1
                                                    input.form-control.form-control-sm(type="number", name="MaxAno", min=aggs.MinAno.value_as_string, max=aggs.MaxAno.value_as_string, value=filters["MaxAno"], step="1",placeholder="Até (ano)")#data_fim
                                        mixin usedFilters(key)
                                            -let cache = []
                                            if key in filters
                                                for f in filters[key]
                                                    if cache.indexOf(f) == -1
                                                        -cache.push(f)
                                                        .form-check.form-check-inline(style="--tribunal-color: #0f0")
                                                            input.form-check-input(type="checkbox", name=key, value=f, checked, id=`checkbox-${f.replace(/\s/g, "")}`, hidden)
                                                            label.form-check-label(for=`checkbox-${f.replace(/\s/g, "")}`).d-flex.justify-content-between.align-items-center.w-100
                                                                span.d-block !{f}
                                                                i.d-blocl.bi-trash
                                        mixin filterlist(key)
                                            .d-flex.flex-column.my-1
                                                +await(`./datalist?id=datalist-${key}&agg=${key}&${querystring}`)
                                                input.form-control.form-control-sm(type="text", name=key, autocomplete="off", list=`datalist-${key}`, placeholder=`Filtrar ${key}...`)
                                                +usedFilters(key)
                                        for p of Object.keys(properties)
                                            if ["Tribunal", "ECLI", "Código Tribunal", "Processo", "Tipo", "Jurisprudência", "Original URL"].indexOf(p) == -1
                                                +filterlist(p)
                                        .d-flex.flex-column.my-2
                                            h6.m-0 Campos 
                                                +await(`./datalist?id=datalist-Campos&agg=Campos&${querystring}`)
                                                input.form-control.form-control-sm(type="text", name="hasField", autocomplete="off", list=`datalist-Campos`, placeholder=`Tem de conter o campo...`)
                                                +usedFilters("hasField")
                                                input.form-control.form-control-sm(type="text", name="notHasField", autocomplete="off", list=`datalist-Campos`, placeholder=`Não pode conter o campo...`)
                                                +usedFilters("notHasField")
                                        .d-flex.flex-row.my-2.justify-content-between.align-items-center
                                            button.btn.btn-primary(type="submit") Aplicar
                                            a.btn.btn-danger(href=`?q=${q || ""}`) Limpar
                        .col-12.col-sm-8.col-md-9.col-xl-10#main: block main
        footer.d-print-none.mt-2
            .container.row.align-items-center.m-auto.p-4
                a(href="#top").col-12.col-lg-6.align-items-center.d-flex.flex-wrap.py-2
                    i.bi.bi-chevron-up.mr-2
                    | Voltar ao topo
                    
        script.
            window.addEventListener('DOMContentLoaded', function(){
                let elems = Array.from(document.getElementsByClassName(`await-loading`));
                elems.forEach(elem => {
                    fetch(elem.dataset.await).then(response => response.text()).then(text => {
                        elem.classList.remove("await-loading");
                        elem.innerHTML = text;
                    });
                });

                let overallCheckbox = document.getElementById("tribunais-all");
                let checkboxes = document.getElementsByClassName("tribunal-checkbox");
                let setOverallCheckboxState = () => {
                    let checked = false;
                    let indeterminate = false;
                    let c = 0;
                    for( let i = 0; i < checkboxes.length; i++ ) {
                        if( checkboxes[i].checked ) {
                            checked = true;
                            c++;
                        }
                    }
                    overallCheckbox.checked = checked;
                    overallCheckbox.indeterminate = c < checkboxes.length && c > 0;
                }
                if( overallCheckbox ){
                    setOverallCheckboxState();                    
                    overallCheckbox.addEventListener("change", (e) => {
                        for( let i = 0; i < checkboxes.length; i++ ) {
                            checkboxes[i].checked = overallCheckbox.checked;
                        }
                        e.stopPropagation();
                    });
                    for( let i = 0; i < checkboxes.length; i++ ) {
                        checkboxes[i].addEventListener("change", setOverallCheckboxState);
                    }
                }

                // Auto-submit form
                document.getElementById("filter-form").addEventListener("change", function(e){
                    if( e.target.validity.valid ){
                        document.getElementById("filter-form").submit();
                    }
                    else {
                        e.target.reportValidity();
                    }
                });
            })