doctype html
html(lang="en")
    mixin await(url)
        span(data-await=url).await-loading
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet",href="./style.css")
        link(rel="icon",href="./stj-logo.png")
        block head
    body
        block header
            header.mb-1
                form.container.row.align-items-center.m-auto.p-1
                    a(href="./").col-12.col-lg-6.align-items-center.d-flex.flex-wrap.py-2
                        img(src="./stj-logo.png", style="max-height: 70px;")
                        h2.ps-2.fancy-font Jurisprudência
                    .col-12.col-lg-6.d-print-none
                        block headerinput
                            .input-group
                                input.form-control(type="search", name="q", placeholder="Pesquisar...", value=q||"", style="color: var(--color-gray);")
                                .input-group-append
                                    button.btn.btn-gold(type="submit"): i.bi-search
                    .col-12.col-lg-6.d-none.d-print-block
                        block printpageinfo
                            p Sem informação da página
                nav.w-100.d-print-none
                    ul.container.d-flex.nav.align-items-center.justify-content-evenly.flex-wrap
                        li.nav-item.py-1.px-2.mx-1
                            input(type="submit", formaction="./", value="Documentos", form="filter-form",class=currentPage=="search"?"active":"").border-0.nav-link.fs-6.bg-transparent
                        li.nav-item.py-1.px-2.mx-1
                            input(type="submit", formaction="./estatisticas", value="Estatísticas", form="filter-form",class=currentPage=="stats"?"active":"").border-0.nav-link.fs-6.bg-transparent
                        li.nav-item.py-1.px-2.mx-1
                            input(type="submit", formaction="./indices", value="Indíces", form="filter-form",class=currentPage=="list"?"active":"").border-0.nav-link.fs-6.bg-transparent
        main.container-fluid#top
            if error 
                pre.alert.alert-danger
                    code !{JSON.stringify(error, null , 2)}

            else
                block allmain
                    .row
                        .col-12.col-sm-4.col-md-3.col-xl-2.d-print-none.infofilters
                            form(method="get")#filter-form
                                block form
                                    input(type="search", name="q", value=q, hidden)
                                    button.btn.color-link(type="submit", hidden)
                                    .d-block
                                        .d-flex.align-items-center.justify-content-between
                                            h4.d-inline.m-0
                                                | Filtros
                                            h6: a(href=`?q=${q || ""}`).text-danger.text-decoration-none
                                                i.bi-eraser-fill
                                                | Limpar
                                        .d-flex.flex-column.mb-1.border
                                            -let tribunais = []
                                            input.form-control.form-control-sm.border-0.border-bottom.rounded-0.bg-transparent(disabled,placeholder="Tribunal")
                                            -let key = "Tribunal"
                                            for bucket in aggs[key].buckets
                                                -let checked = filters[key] && filters[key].indexOf(bucket.key) > -1
                                                if checked
                                                    -tribunais.push(bucket.key)
                                                .form-check.form-check-inline.my-0(data-tribunal=bucket.key,class=filters[key]?"":"not-used")
                                                    input.form-check-input.tribunal-checkbox(type="checkbox", name=key, value=bucket.key, checked=checked, id=bucket.key.replace(/\s/g, ""), hidden)
                                                    label.form-check-label(for=bucket.key.replace(/\s/g, "")).d-flex.justify-content-between.align-items-center.w-100
                                                        span.d-block !{bucket.key} 
                                                        span.d-block (!{bucket.doc_count})
                                        .d-flex.flex-column.my-1
                                            .input-group.input-group-sm
                                                .input-group-prepend.flex-grow-1
                                                    input.form-control.form-control-sm.rounded-0(type="number", name="MinAno", min=aggs.MinAno.value_as_string, max=aggs.MaxAno.value_as_string, value=filters["MinAno"], step="1",placeholder="De (ano)")#data_inicio
                                                .input-group-append.flex-grow-1
                                                    input.form-control.form-control-sm.rounded-0(type="number", name="MaxAno", min=aggs.MinAno.value_as_string, max=aggs.MaxAno.value_as_string, value=filters["MaxAno"], step="1",placeholder="Até (ano)")#data_fim
                                        mixin usedFilters(key)
                                            -let cache = []
                                            if key in filters
                                                for f in filters[key]
                                                    if cache.indexOf(f) == -1
                                                        -cache.push(f)
                                                        .form-check.form-check-inline.my-0(style="--tribunal-color: #0f0")
                                                            input.form-check-input(type="checkbox", name=key, value=f, checked, id=`checkbox-${f.replace(/\s/g, "")}`, hidden)
                                                            label.form-check-label(for=`checkbox-${f.replace(/\s/g, "")}`).d-flex.justify-content-between.align-items-center.w-100
                                                                span.d-block !{f}
                                                                span.d-block: i.bi-trash
                                        mixin filterlist(key)
                                            .d-flex.flex-column.my-1.border.pb-1
                                                +await(`./datalist?id=datalist-${key}&agg=${key}&${querystring}`)
                                                input.form-control.form-control-sm.border-0.border-bottom.rounded-0(type="text", name=key, autocomplete="off", list=`datalist-${key}`, placeholder=`${key}`,disabled)
                                                +usedFilters(key)
                                        for p of Object.keys(properties)
                                            if ["Tribunal", "ECLI", "Código Tribunal", "Processo", "Tipo", "Jurisprudência", "Original URL", "Origem"].indexOf(p) == -1
                                                +filterlist(p)
                                        +await(`./datalist?id=datalist-Campos&agg=Campos&${querystring}`)
                                        .d-flex.flex-column.my-1.border.pb-1
                                            input.form-control.form-control-sm.border-0.border-bottom.rounded-0(type="text", name="hasField", autocomplete="off", list=`datalist-Campos`, placeholder=`Tem de ter o campo`, disabled)
                                            +usedFilters("hasField")
                                        if "Origem" in filters
                                            +filterlist("Origem")
                                        if "notHasField" in filters
                                            .d-flex.flex-column.my-1.border.pb-1
                                                input.form-control.form-control-sm.border-0.border-bottom.rounded-0(type="text", name="notHasField", autocomplete="off", list=`datalist-Campos`, placeholder=`Não pode ter o campo`, disabled)
                                                +usedFilters("notHasField")
                        .col-12.col-sm-8.col-md-9.col-xl-10#main: block main
        footer.d-print-none.mt-2
            .container.row.align-items-center.m-auto.p-4
                a(href="#top").col-12.col-lg-6.align-items-center.d-flex.flex-wrap.py-2
                    i.bi.bi-chevron-up.mr-2
                    | Voltar ao topo
            small#time-info.text-white
                p.m-0 Página carregada em: !{new Date() - requestStart}ms
                p.m-0 Dados carregados em: <span id="data-time-info">0</span>ms
                    
        script.
            window.addEventListener('DOMContentLoaded', function(){
                let elems = Array.from(document.getElementsByClassName(`await-loading`));
                elems.forEach(elem => {
                    fetch(elem.dataset.await).then(response => response.text()).then(text => {
                        elem.classList.remove("await-loading");
                        elem.innerHTML = text;
                        let loaded = document.createEvent("HTMLEvents");
                        loaded.initEvent("loaded", true, true);
                        elem.dispatchEvent(loaded);
                    });
                });

                // Auto-submit form
                document.getElementById("filter-form").addEventListener("change", function(e){
                    if( e.target.validity.valid ){
                        document.getElementById("filter-form").submit();
                    }
                    else {
                        e.target.reportValidity();
                    }
                });
            })
            window.addEventListener('loaded', function(e){
                let datalist = e.target.querySelector("datalist");
                if( !datalist ) return;
                if( datalist.children.length <= 0 ) return;

                document.querySelectorAll(`input[list="${datalist.id}"]`).forEach(input => input.disabled = false);
            })