doctype html
html(lang="en")
    mixin await(url)
        span(data-await=url).await-loading
    head
        block preheadcontent
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet",href="./style.css")
        link(rel="icon",href="./stj-logo.png")
        block head
    body
        block header
            header.mb-1.py-2.align-items-center.d-flex.flex-wrap.border-bottom
                a(href="./").align-items-center.d-flex.flex-wrap.text-decoration-none.nav-link
                    img(src="./PT-logoLogo-STJ.png", style="max-height: 70px;")
                    div.ps-2.d-flex.flex-column.align-items-center
                        h5.m-0.fancy-font Jurisprudência
                div.flex-fill.d-none.d-lg-block
                nav.d-print-none
                    ul.container.d-flex.nav.align-items-center.justify-content-evenly.flex-wrap
                        li.nav-link.py-1.px-2.mx-1
                            input(type="submit", formaction="./", value="Processos", form="filter-form",class=currentPage=="search"?"active":"").border-0.nav-link.fs-6.bg-transparent
                        //li.nav-link.py-1.px-2.mx-1
                            input(type="submit", formaction="./estatisticas", value="Estatísticas", form="filter-form",class=currentPage=="stats"?"active":"").border-0.nav-link.fs-6.bg-transparent
                        li.nav-link.py-1.px-2.mx-1
                            input(type="submit", formaction="./indices", value="Indíces", form="filter-form",class=currentPage=="list"?"active":"").border-0.nav-link.fs-6.bg-transparent
                        li
                            | |
                        li.nav-link.py-1.px-2.mx-1
                            a(role="button", class=currentPage=="about"?"active":"", data-bs-toggle="modal", data-bs-target="#modal-about").border-0.nav-link.fs-6.bg-transparent Sobre
            .col-12.col-lg-6.d-none.d-print-block
                block printpageinfo
                    p Sem informação da página
        main.container-fluid#top
            if error 
                form(method="get",style="top:0;")#filter-form.position-sticky
                pre.alert.alert-danger
                    code !{JSON.stringify(error, null , 2)}

            else
                block allmain
                    .row
                        .col-12.col-sm-4.col-md-3.col-xl-2.d-print-none.infofilters
                            form(method="get",style="top:0;")#filter-form.position-sticky
                                input(type="text",name="term",hidden,value=term)#form-select-term-input
                                input(type="text",name="group",hidden,value=group)#form-select-group-input
                                block form
                                    .d-block
                                        .d-flex.align-items-center.justify-content-between
                                            block form-title
                                                if body 
                                                    b.d-inline.m-0                          
                                                        i.bi-archive 
                                                        | !{body.hits.total.value} Processos        
                                            if Object.keys(filters).length > 0 || q
                                                a(href=`?q=&term=${encodeURIComponent(term)}&group=${encodeURIComponent(group)}`).text-danger.text-decoration-none
                                                    i.bi-eraser-fill
                                                    | Limpar
                                        mixin usedFilters(key)
                                            -let cache = []
                                            if key in filters
                                                for f in filters[key]
                                                    if cache.indexOf(f) == -1
                                                        -cache.push(f)
                                                        .p-1.m-0.d-flex.align-items-center(style="background: var(--secondary-gold); border-bottom: 1px solid var(--primary-gold)")
                                                            input.form-check-input(type="checkbox", name=key, value=f, checked, id=`checkbox-${f.replace(/\s/g, "")}`, hidden)
                                                            label(role="button",for=`checkbox-${f.replace(/\s/g, "")}`).form-check-label.d-flex.justify-content-between.align-items-center.w-100
                                                                span.d-block !{f}
                                                                span.d-block.text-danger: i.bi-trash
                                        mixin filterlist(key)
                                            .d-flex.flex-column.my-1.border.pb-1
                                                //- +await(`./datalist?id=datalist-${key.replace(/\s/g,'')}&agg=${key}&${querystring}`)
                                                input.form-control.form-control-sm.border-0.border-bottom.rounded-0(type="text", name=key, autocomplete="off", list=`datalist-${key.replace(/\s/g,'')}`, placeholder=`${key}`, onfocus=`loadDatalist(this,"./datalist?id=datalist-${key.replace(/\s/g,'')}&agg=${key}&${querystring}")`)
                                                +usedFilters(key)
                                        .d-flex.flex-column.my-1
                                            input.form-control.form-control-sm.rounded-0(type="search", name="q", placeholder=`Texto Livre`, value=q||"")
                                        .d-flex.my-1
                                            .input-group.input-group-sm
                                                .input-group-prepend.flex-shrink
                                                    label.input-group-text.rounded-0.p-1(for="data_inicio") De:
                                                input.form-control.form-control-sm.rounded-0.p-1(type="number", name="MinAno", min=aggsGlobal.MinAno.value_as_string, max=aggsGlobal.MaxAno.value_as_string, value=filters["MinAno"], step="1",placeholder=aggsGlobal.MinAno.value_as_string)#data_inicio
                                            .input-group.input-group-sm
                                                .input-group-prepend.flex-shrink
                                                    label.input-group-text.rounded-0.p-1(for="data_fim") Até:
                                                input.form-control.form-control-sm.rounded-0.p-1(type="number", name="MaxAno", min=aggsGlobal.MinAno.value_as_string, max=aggsGlobal.MaxAno.value_as_string, value=filters["MaxAno"], step="1",placeholder=aggsGlobal.MaxAno.value_as_string)#data_fim
                                        +filterlist("Número de Processo")
                                        +filterlist("ECLI")
                                        +filterlist("Área")
                                        +filterlist("Secção")
                                        +filterlist("Relator")
                                        +filterlist("Meio Processual")
                                        +filterlist("Decisão")
                                        +filterlist("Decisão (textual)")
                                        +filterlist("Votação - Decisão")
                                        +filterlist("Votação - Vencidos")
                                        +filterlist("Votação - Declarações")
                                        +filterlist("Tribunal de Recurso")
                                        +filterlist("Descritores")
                                        +filterlist("Fonte")
                                        +filterlist("Área Temática")
                                        +filterlist("Referências")
                                        +filterlist("Referência de publicação")
                                        //for p of properties
                                            +filterlist(p)
                                        +await(`./datalist?id=datalist-Campos&agg=Campos&${querystring}`)
                                        if "hasField" in filters
                                            .d-flex.flex-column.my-1.border.pb-1
                                                input.form-control.form-control-sm.border-0.border-bottom.rounded-0(type="text", name="hasField", autocomplete="off", list=`datalist-Campos`, placeholder=`Tem de ter o campo`, disabled)
                                                +usedFilters("hasField")
                                        if "notHasField" in filters
                                            .d-flex.flex-column.my-1.border.pb-1
                                                input.form-control.form-control-sm.border-0.border-bottom.rounded-0(type="text", name="notHasField", autocomplete="off", list=`datalist-Campos`, placeholder=`Não pode ter o campo`, disabled)
                                                +usedFilters("notHasField")
                        .col-12.col-sm-8.col-md-9.col-xl-10#main: block main
        .modal.fade#modal-about(tabindex="-1",role="dialog",aria-labelledby="modal-label",aria-hidden="true")
            include modal-sobre
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js", integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM", crossorigin="anonymous")
        script.
            async function loadDatalist(elem, url){
                if( elem.dataset.loaded === "true" ) return;
                elem.dataset.loaded = "true";
                elem.blur();
                let html = await fetch(url).then( r => r.text() );
                elem.insertAdjacentHTML("beforeBegin", html);
                elem.focus();
            }

            window.addEventListener('DOMContentLoaded', function(){
                let elems = Array.from(document.getElementsByClassName(`await-loading`));
                elems.forEach(elem => {
                    fetch(elem.dataset.await).then(response => response.text()).then(text => {
                        elem.classList.remove("await-loading");
                        elem.innerHTML = text;
                        let loaded = document.createEvent("HTMLEvents");
                        loaded.initEvent("loaded", true, true);
                        elem.dispatchEvent(loaded);
                    });
                });

                elems = Array.from(document.getElementsByClassName('await-focus'));
                elems.forEach(elem => {
                    document.getElementById(elem.dataset.focusId).addEventListener("focus", async () => {
                        fetch(elem.dataset.await).then(response => response.text()).then(text => {
                        elem.classList.remove("await-focus");
                        elem.innerHTML = text;
                    });
                    })
                })

                

                // Auto-submit form
                document.getElementById("filter-form").addEventListener("change", function(e){
                    if( e.target.validity.valid ){
                        document.getElementById("filter-form").submit();
                    }
                    else {
                        e.target.reportValidity();
                    }
                });
            })
            window.addEventListener('loaded', function(e){
                let datalist = e.target.querySelector("datalist");
                if( !datalist ) return;
                if( datalist.children.length <= 0 ) return;

                document.querySelectorAll(`input[list="${datalist.id}"]`).forEach(input => input.disabled = false);
            })

            /*function checkDataListInput(elm){
                let val = elm.value;
                let dlist = elm.list;
                let opts = dlist.childNodes;
                if( opts.length == 1 ){
                    elm.value = `"${f}"`
                    elm.unfocus()
                }
            }*/