extends head 
block head
    title Pesquisa
    script(src="https://cdn.jsdelivr.net/npm/chart.js")

prepend header
    -currentPage = "list"

block printpageinfo
    p Lista de !{term} da pesquisa por: "!{q || ""}"

prepend form
    .d-flex.flex-column.my-2
        h5 Campo do agrupamento 
            +await(`./datalist?id=datalist-Datafield&agg=Datafield&${querystring}`)
            input.form-control(type="text", name="term", autocomplete="off", list=`datalist-Datafield`, placeholder=`Campo da lista`, value=term)
            
append form
    .d-flex.my-2.justify-content-center.align-items-center
        button.btn.w-100(type="submit", formaction=`/?q=${q || ""}`): u Ver resultados da pesquisa
    .d-flex.flex-row.my-2.justify-content-center.align-items-center
        button.btn.w-100(type="submit", formaction=`/stats?q=${q || ""}`): u Ver estatísticas da pesquisa

block main
    if aggs[term].sum_other_doc_count > 0
        .alert.alert-warning(role="alert")
            h5.alert-heading
                strong 
                    i.bi.bi-exclamation-circle
                    | Atenção:
                ul
                    li Existem !{aggs[term].sum_other_doc_count} outros valores não listados.
    .row.p-2
        .col-12.d-none.d-lg-block.col-lg-4: h4 !{term}
        .col-12.d-none.d-lg-block.col-lg-8: h4 Tribunal(is)
    .row.p-2
        //pre: code !{JSON.stringify(aggs, null, 2)}
        -let available = "#ABCDEFGHIJKLMNOPQRSTUVWXYZ".split("").filter(l => l in letters)
        for l of available
            -let letter = letters[l]
            if letter
                article.col-12.row.mb-3(id=`${l}`)
                    .col-12.row
                        h5.col-1 !{l}
                        .col-11.d-print-none
                            for a of available
                                if a != l
                                    a.p-1.m-1(href=`#${a}`) !{a}
                                else
                                    span.p-1.m-1 !{a}
                    for obj in letter
                        .row.col-12.my-2.pb-2.align-items-center.term
                            .col-4: a(href=`/?${term}=${obj.value}`) !{obj.value}
                            .col-8.d-flex.flex-column
                                for tribunal in obj.Tribunais
                                    span(data-tribunal=tribunal) !{tribunal}
    style.

    //- for aggRelator in aggs.Relator.buckets.sort(({key:a}, {key:b}) => a.localeCompare(b))
        -let currLeter = aggRelator.key[0].replace(/[^a-zA-Z]/g, "#").toUpperCase()
        if (firstLeter != currLeter)
            .row.p-2
                .col-12.d-flex.flex-wrap
                    h3(id=currLeter) !{currLeter}
                    for l in "#ABCDEFGHIJKLMNOPQRSTUVWXYZ".split("")
                        a(href="#"+l, class="m-1") !{l}
            -firstLeter = currLeter
        .row.align-items-center
            .col-12.col-sm-4.d-flex.flex-column
                a(href=`/?q=Relator:"${aggRelator.key}"`, target="_blank") !{aggRelator.key}
            .col-12.col-sm-8.d-flex.flex-column
                for aggRelatorTribunal in aggRelator.Tribunal.buckets
                    span.d-print-none
                        a(href=`/?q=Tribunal:"${aggRelatorTribunal.key}"`,data-tribunal=aggRelatorTribunal.key) !{aggRelatorTribunal.key}
