extends head 
block head
    title Pesquisa

prepend header
    -currentPage = "search"

block printpageinfo
    ul
        p Resultados da pesquisa por: "!{q || ""}" (Página !{page+1} de !{pages} páginas)
        p Filtros aplicados:
        for filter in Object.keys(filters)
            li
                b !{filter}: 
                | !{filters[filter]}



append form
    .d-flex.flex-row.my-2.justify-content-center.align-items-center
        button.btn.w-100(type="submit", formaction=`./stats?q=${q || ""}`): u Ver estatísticas da pesquisa

block main
    if body.hits.total.value == 0
        .alert.alert-info(role="alert")
            h4.alert-heading Sem resultados...
            strong
                i.bi.bi-lightbulb-fill
                | Sugestões:
            ol
                li Verifique os filtros utilizados (tribunais, relator, descritores, data)
                li Verifique o termo pesquisado
    else
        article.row.pt-2
            .col-4.d-none.d-lg-block: h4.mt-2 !{body.hits.total.value} Acórdãos
            .col-12.col-lg-8
                nav.mt-2
                    ul.pagination.justify-content-center.text-center
                        li.page-item.w-100(class=sort=="score"?"active":"")
                            a.page-link(href=`./?sort=score&page=${page}&${querystring}`)
                                i.bi.bi-list-stars
                                small.ps-2 Por Relevância
                        li.page-item.w-100(class=sort=="des"?"active":"")
                            a.page-link(href=`./?sort=des&page=${page}&${querystring}`)
                                i.bi.bi-calendar
                                small.ps-2 Por Data Descendente
                        li.page-item.w-100(class=sort=="asc"?"active":"")
                            a.page-link(href=`./?sort=asc&page=${page}&${querystring}`)
                                i.bi.bi-calendar
                                small.ps-2 Por Data Ascendente
                nav.mt-2
                    ul.pagination.justify-content-center.text-center
                        li.page-item.w-25
                            a.page-link(href=`?page=${0}&sort=${sort}&${querystring}`): i.bi.bi-chevron-double-left
                        li.page-item.w-25
                            if page > 0
                                a.page-link(href=`?page=${page-1}&sort=${sort}&${querystring}`): i.bi.bi-chevron-left
                            else
                                a.page-link: i.bi.bi-chevron-left.disabled
                        li.page-item.w-100
                            a.page-link
                                small Página !{page+1}/!{pages}
                        li.page-item.w-25
                            if page < pages-1
                                a.page-link(href=`?page=${page+1}&sort=${sort}&${querystring}`): i.bi.bi-chevron-right
                            else
                                a.page-link: i.bi.bi-chevron-right.disabled
                        li.page-item.w-25
                            a.page-link(href=`?page=${pages-1}&sort=${sort}&${querystring}`): i.bi.bi-chevron-double-right
        include acord-article
        
        article.row(data-tribunal)#looking
            h3 A receber acórdãos...
            script.
                let fetching = false;
                let page = !{page};
                let url = `./acord-only?sort=!{sort}&!{querystring}`;
                new IntersectionObserver(function(entries, observer) {
                    entries.forEach(entry => {
                        if (entry.isIntersecting && !fetching) {
                            fetch(url+`&page=${page}`).then(r => r.text()).then(html => {
                                if (html.length > 0) {
                                    document.querySelector("#looking").insertAdjacentHTML("beforebegin", html);
                                    page++;
                                } else {
                                    observer.disconnect();
                                    document.querySelector("#looking").querySelector("h3").textContent = "Não há mais acórdãos...";
                                }
                                observer.disconnect();
                                entry.target.remove();
                            });
                        }
                    })
                }, {
                    threshold: 0
                }).observe(document.querySelector("#looking"));
    script.
        // Close all summary elements
        function closeAllSummaries() {
            var allSummaries = document.getElementsByTagName('summary');
            for (var i = 0; i < allSummaries.length; i++) {
                allSummaries[i].parentNode.removeAttribute('open');
            }
        }
        // Open all summary elements
        function openAllSummaries() {
            var allSummaries = document.getElementsByTagName('summary');
            for (var i = 0; i < allSummaries.length; i++) {
                allSummaries[i].parentNode.setAttribute('open', true);
            }
        }
        addEventListener('beforeprint', openAllSummaries);
        addEventListener('afterprint', closeAllSummaries);
    style.
        @media print{
            article[data-tribunal] {
                max-height: none !important;
                width: 100%;
                display: block;
            }

            article[data-tribunal]::after{
                top:100% !important;
            }

            article{
                break-inside: avoid !important;
            }
            nav{ display: none; }
        }

        article[data-tribunal] {
            position: relative;
            /*max-height: 300px;*/
            overflow: hidden;
            transition: 0.5s 0.3s;
            padding-bottom: 15px;
            margin-bottom: 10px;
        }

        /*article[data-tribunal]:focus-within, article[data-tribunal]:hover {
            max-height: 1000px;
        }*/

        article[data-tribunal]::before {
            content: '';
            background: var(--tribunal-color);
            top: 5px;
            width: 5px;
            position: absolute;
            border-radius: 10px;
            bottom: 30px;
        }
        article[data-tribunal]::after {
            /*content: "";*/
            position: absolute; 
            top: 50%;
            bottom: 0;
            left: -15px;
            right: -15px;
            box-shadow: inset white 0 -45px 20px;
            transition: 0.5s 0.3s;
        }

        article[data-tribunal]:focus-within::after, article[data-tribunal]:hover::after{
            box-shadow: inset white 0 0px 0px;
        }
