extends head 
block head
    title Pesquisa

prepend header
    -currentPage = "search"

block printpageinfo
    p Resultados da pesquisa por: "!{q || ""}" (Página !{page+1} de !{pages} páginas)


append form
    .d-flex.my-2.justify-content-center.align-items-center
        .input-group
            .input-group-prepend.w-25
                label.input-group-text.w-100.h-100 Ordem:
            .form-control.d-flex.flex-column
                a(href=`./?sort=score&${querystring}`,class=sort=="score"?"text-muted":"")
                    i.bi.bi-list-stars
                    | Relevância
                a(href=`./?sort=des&${querystring}`,class=sort=="des"?"text-muted":"")
                    i.bi.bi-calendar
                    | Data Descendente
                a(href=`./?sort=asc&${querystring}`,class=sort=="asc"?"text-muted":"")
                    i.bi.bi-calendar
                    | Data Ascendente
                
            
                                                
    nav.my-2
    nav.my-2
        ul.pagination.justify-content-between
            li.page-item
                button.btn(type="submit", name="page", value=0, disabled=page<=0).page-link: i.bi.bi-chevron-double-left
            li.page-item
                button.btn(type="submit", name="page", value=page-1, disabled=page<=0).page-link: i.bi.bi-chevron-left
            li.page-item.w-50
                button.btn(type="submit", name="page", value=page, disabled).page-link.w-100 !{page+1}/!{pages}
            li.page-item
                button.btn(type="submit", name="page", value=page+1, disabled=page>=pages-1).page-link: i.bi.bi-chevron-right
            li.page-item
                button.btn(type="submit", name="page", value=pages-1, disabled=page>=pages-1).page-link: i.bi.bi-chevron-double-right
    small (A pesquisa está limitada a !{550000/50} páginas)
    .d-flex.flex-row.my-2.justify-content-center.align-items-center
        button.btn.w-100(type="submit", formaction=`./stats?q=${q || ""}`): u Ver estatísticas da pesquisa

block main
    if hits.length == 0
        .alert.alert-info(role="alert")
            h4.alert-heading Sem resultados...
            strong
                i.bi.bi-lightbulb-fill
                | Sugestões:
            ol
                li Verifique os filtros utilizados (tribunais, relator, descritores, data)
                li Verifique o termo pesquisado
    else
        .row.p-2
            .col-12.d-none.d-lg-block: h4 !{body.hits.total.value} Resultados:
        for doc in hits
            article.row(data-tribunal=doc._source.Tribunal)
                .col-12.pt-2
                    a(href=`./${doc._source.ECLI}`, target="_blank", style="color: var(--tribunal-color);").text-decoration-none !{doc._source.ECLI}
                .col-12.d-flex.flex-wrap.my-1
                    div.mx-1
                        b Tribunal:&nbsp;
                        span #{doc._source.Tribunal}&nbsp;
                        if doc._source.Secção
                            span (#{doc._source.Secção})
                    div.mx-1
                        b Relator:&nbsp;
                        span #{doc._source.Relator}
                    div.mx-1
                        b Data(s):&nbsp;
                        span #{doc.fields.Data}
                .col-12.d-flex.flex-wrap.my-1
                    if doc._source.Espécie
                        div.mx-1
                            b Espécie:&nbsp;
                            span #{doc._source.Espécie}
                    if doc._source["Meio Processual"]
                        div.mx-1
                            b Meio Processual:&nbsp;
                            span #{doc._source["Meio Processual"]}
                if Array.isArray(doc._source.Descritores)
                    .col-12.my-1
                        div.mx-1
                            b Descritores:&nbsp;
                            span #{doc._source.Descritores.join(' / ')}
                if doc._source.Votação
                    .col-12.my-1
                        div.mx-1
                            b Votação:&nbsp;
                            span #{doc._source.Votação}
                if doc._source.Decisão
                    .col-12.my-1
                        div.mx-1.d-flex
                            b Decisão:&nbsp;
                            div !{doc._source.Decisão}
                if doc._source.Sumário
                    details.col-12.my-1
                        summary.mx-1: b.mouse-click Sumário:
                        div.col-12 !{doc._source["Sumário"]}
    script.
        // Close all summary elements
        function closeAllSummaries() {
            var allSummaries = document.getElementsByTagName('summary');
            for (var i = 0; i < allSummaries.length; i++) {
                allSummaries[i].parentNode.removeAttribute('open');
            }
        }
        // Open all summary elements
        function openAllSummaries() {
            var allSummaries = document.getElementsByTagName('summary');
            for (var i = 0; i < allSummaries.length; i++) {
                allSummaries[i].parentNode.setAttribute('open', true);
            }
        }
        addEventListener('beforeprint', openAllSummaries);
        addEventListener('afterprint', closeAllSummaries);
    style.
        @media print{
            article[data-tribunal] {
                max-height: none !important;
                width: 100%;
                display: block;
            }

            article[data-tribunal]::after{
                top:100% !important;
            }
        }

        article[data-tribunal] {
            position: relative;
            /*max-height: 300px;*/
            overflow: hidden;
            transition: 0.5s 0.3s;
            padding-bottom: 15px;
            margin-bottom: 10px;
        }

        /*article[data-tribunal]:focus-within, article[data-tribunal]:hover {
            max-height: 1000px;
        }*/

        article[data-tribunal]::before {
            content: '';
            background: var(--tribunal-color);
            top: 5px;
            width: 5px;
            position: absolute;
            border-radius: 10px;
            bottom: 30px;
        }
        article[data-tribunal]::after {
            /*content: "";*/
            position: absolute; 
            top: 50%;
            bottom: 0;
            left: -15px;
            right: -15px;
            box-shadow: inset white 0 -45px 20px;
            transition: 0.5s 0.3s;
        }

        article[data-tribunal]:focus-within::after, article[data-tribunal]:hover::after{
            box-shadow: inset white 0 0px 0px;
        }
