extends head

block head
    // Fix style and icon links
    link(rel="stylesheet",href="../style.css")
    style.
        header, footer {
            background-color: var(--color-admin);
        }
        header nav{
            background-color: var(--color-admin);
        }
    link(rel="icon",href="../stj-logo.png")

block header
    header.mb-2
        form.container.row.align-items-center.m-auto.p-1
            a(href="../").col-12.col-lg-6.align-items-center.d-flex.flex-wrap.py-2
                img(src="../stj-logo.png", style="max-height: 70px;")
                h2.ps-2.fancy-font Jurisprudência
            .col-12.col-lg-6.d-print-none
                block headerinput
                    h4(style="color: var(--color-white);").fancy-font Tabelas
            .col-12.col-lg-6.d-none.d-print-block
                block printpageinfo
                    p Tabelas
        nav.w-100.d-print-none
            ul.container.d-flex.nav.align-items-center.justify-content-evenly.flex-wrap
                li.nav-item.py-1.px-2.mx-1
                    a.nav-link(href="../"): h6.m-0 Documentos
                li.nav-item.py-1.px-2.mx-1
                    a.nav-link(href="../estatisticas"): h6.m-0 Estatísticas
                li.nav-item.py-1.px-2.mx-1
                    a.nav-link(href="../indices"): h6.m-0 Índices
                li.nav-item.py-1.px-2.mx-1
                    a.nav-link(href="./", class="active"): h6.m-0 Tabelas

block allmain
    if warning
        .alert.alert-warning(role="alert")
            h6.alert-heading
                strong 
                    i.bi.bi-exclamation-circle
                    | !{warning}
    a(href=name+'.csv') Abrir CSV
    table.table.table-sm
        thead
            tr
                th: span.text-muted !{values.length}
                for key of header
                    th !{key}
        tbody
            -let i = 1;
            for anovalues of values
                tr
                    th: span.text-muted !{i++}
                    for value of anovalues
                        if value == 0
                            td: span.text-muted !{value}
                        else
                            td: span.fw-bold !{value}
                